* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.primary {
	background: rgba(0,0,0,0.54);
	color: white;
}

.secondary {
	color: rgba(0,0,0,0.54);
}

md-sidenav-layout {
	background: rgba(0,0,0,0.03);
}

main {
	margin:5px;
}

md-nav-list a.selected md-icon, 
md-nav-list a.selected span {
	color:#009688;
}