<main>
	<div *ngIf="!items || item?.length == 0">Aucune cat&eacute;gorie existante</div>
	<div *ngIf="items?.length > 0" class="list" [class.reduce]="formItem">
		<table>
			<thead>
				<tr>
					<th><md-checkbox [checked]="hasAllSelected" [indeterminate]="hasSomeSelected()" (change)="doSelectAll($event.checked);"></md-checkbox></th>
					<th>Nom</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items; let i=index" (click)="displayForm(i)">
					<td><md-checkbox (click)="doClick($event)" (change)="doSelect($event.checked, item)" [checked]="item.selected"></md-checkbox></td>
					<td>{{item.name}}</td>
					<td *ngIf="item.type == 'I'">Revenu</td>
					<td *ngIf="item.type == 'E'">D&eacute;pense</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>
<div *ngIf="formItem">
	<form  (ngSubmit)="saveForm()">
	<md-card>
		<md-card-title>{{formTitle}}</md-card-title>
		<md-card-content>
				<input name="id" type="hidden" [(ngModel)]="formItem.id"/>
				<md-input placeholder="Nom" name="name" [(ngModel)]="formItem.name"></md-input>
				<span class="form-fill-remaining"></span>
				<md-radio-group name="type" [(ngModel)]="formItem.type" (change)="setParentsListForm()">
					<md-radio-button value="I">Revenu</md-radio-button>
					<md-radio-button value="E">D&eacute;pense</md-radio-button>
				</md-radio-group>
				<span class="form-fill-remaining"></span>
				<select name="id" [(ngModel)]="formItem.parent">
					<option value=undefined>Aucune cat&eacute;gorie parente</option>
					<option *ngFor="let parent of parents" [hidden]="formItem.id == parent.id" [ngValue]="parent.id">{{parent.name}}</option>
				</select>			
		</md-card-content>
		<md-card-actions align="end">
			<button md-raised-button (click)="cancelForm($event)">Annuler</button>
			<button type="submit" md-raised-button color="accent">Valider</button>
		</md-card-actions>
	</md-card>
	</form>
</div>
<button *ngIf="!formItem" md-fab color="primary"(click)="displayForm()">
	<md-icon class="md-24">add</md-icon>
</button>